/* -------------------- Margem Top -------------------- */
.top1{margin-top:1px;}
.top2{margin-top:2px;}
.top3{margin-top:3px;}
.top4{margin-top:4px;}
.top5{margin-top:5px;}
.top6{margin-top:6px;}
.top7{margin-top:7px;}
.top8{margin-top:8px;}
.top9{margin-top:9px;}
.top10{margin-top:10px;}
.top12{margin-top:12px;}
.top14{margin-top:14px;}
.top16{margin-top:16px;}
.top18{margin-top:18px;}
.top20{margin-top:20px;}
.top25{margin-top:25px;}
.top30{margin-top:30px;}
.top35{margin-top:35px;}
.top40{margin-top:40px;}
.top45{margin-top:45px;}
.top50{margin-top:50px;}
.top55{margin-top:55px;}
.top60{margin-top:60px;}
.top65{margin-top:65px;}
.top70{margin-top:70px;}
.top75{margin-top:75px;}
.top80{margin-top:80px;}
.top85{margin-top:85px;}
.top90{margin-top:90px;}
.top95{margin-top:95px;}
.top100{margin-top:100px;}
.top120{margin-top:120px;}
.top150{margin-top:150px;}
.top200{margin-top:200px;}
.top250{margin-top:250px;}

/* -------------------- Margem Bottom -------------------- */
.down1{margin-bottom:1px;}
.down2{margin-bottom:2px;}
.down3{margin-bottom:3px;}
.down4{margin-bottom:4px;}
.down5{margin-bottom:5px;}
.down6{margin-bottom:6px;}
.down7{margin-bottom:7px;}
.down8{margin-bottom:8px;}
.down9{margin-bottom:9px;}
.down10{margin-bottom:10px;}
.down12{margin-bottom:12px;}
.down14{margin-bottom:14px;}
.down16{margin-bottom:16px;}
.down18{margin-bottom:18px;}
.down20{margin-bottom:20px;}
.down25{margin-bottom:25px;}
.down30{margin-bottom:30px;}
.down35{margin-bottom:35px;}
.down40{margin-bottom:40px;}
.down45{margin-bottom:45px;}
.down50{margin-bottom:50px;}
.down55{margin-bottom:55px;}
.down60{margin-bottom:60px;}
.down65{margin-bottom:65px;}
.down70{margin-bottom:70px;}
.down75{margin-bottom:75px;}
.down80{margin-bottom:80px;}
.down85{margin-bottom:85px;}
.down90{margin-bottom:90px;}
.down95{margin-bottom:95px;}
.down100{margin-bottom:100px;}
.down120{margin-bottom:120px;}
.down150{margin-bottom:150px;}
.down200{margin-bottom:200px;}
.down250{margin-bottom:250px;}

/* -------------------- Cores -------------------- */
.black{color: #000000;}
.grey{color: #9f9f9f;}
.white{color: #ffffff;}

/* -------------------- Posições -------------------- */
.row::after {content: "";clear: both;display: table;}
[class*="col-"] {float: left;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.center{text-align: center;}
.left{text-align: left;}
.right{text-align: right;}
